h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

summary {
  margin: 1em;
}

strong {
  color: #727272;
}

.alert {
  border-left: 5px solid;
  border-right: 5px solid;
}
